<header>
    <div class ="container d-flex align-items-center justify-content-between">
      <img class ="logo" src="./assets/logo.png" alt="">
      <ul class="main">
        <li routerLink= "Inicio" class="item-nav">Inicio</li>
        <li routerLink= "Peliculas" class="item-nav">Peliculas</li>
        <li routerLink= "Series" class="item-nav">Series</li>
        <li routerLink= "Ingresar" class="item-nav">Ingresar →</li> 
        <li routerLink= "Mi Lista" class="item-nav">Mi Lista </li>
      </ul>
      <!-- *ngIf="userLogged async as user; else logout -->
    </div>
    </header>
  
  