header{
    flex-direction: row;
    width: auto;
    height:8vh;
    background: rgba(27, 35, 56, 0.8);
    backdrop-filter: blur(40px);
}

.logo{
    height: 4vh;
    width: 2vw;
    cursor: pointer;
    margin-top: 1%;
    margin-left:-8%;
    
}

.main{
    margin-right: -10vw ;
    margin-top: 2%;
  }

  .item-nav{
      cursor: pointer;
      display: inline;
      padding-right: 1em;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #A8AEBF;
      margin: 0px 8px;     
  }