<section>
    <div class ="container2">
    <h1>PelisUP!</h1>
    <p>Plataforma para ver peliculas y series </p>
   
    <nav class="search">
    <input class="form-control input" type="text" name="title" [(ngModel)]="title" (ngModelChange)="Search()"
    placeholder="Buscar peliculas y series"> 
    </nav>
          <div class="frame d-flex align-items-center justify-content-around">
       <button (click)="isfilter('Todos')" [ngClass]="filter == 'Todos' ? 'filter active' : 'filter'">Todos</button>   
       <button (click)="isfilter('Pelicula')" [ngClass]="filter == 'Pelicula' ? 'filter active' : 'filter'">Peliculas</button>
      <button (click)="isfilter('Serie')" [ngClass]="filter == 'Serie' ? 'filter active' : 'filter'">Series</button> 
    </div>

      <div class="d-block">Todos 
      <p class="cantidad">({{contador()}})</p>
    </div> 
   
    <div *ngIf="filter == 'Todos'">
    <div class="flex">
      <div *ngFor="let nombre of Todos">
        <app-card [isadd] = true [movies_series]= nombre></app-card>
       </div>
    </div>
  </div>

  <div *ngIf="filter == 'Pelicula'">
    <div class="flex">
      <div *ngFor="let nombre of Movies">
        <app-card [isadd] = true [movies_series]= nombre></app-card>
       </div>
    </div>
  </div>

  <div *ngIf="filter == 'Serie'">
    <div class="flex">
      <div *ngFor="let nombre of Series">
        <app-card [isadd] = true [movies_series]= nombre></app-card>
       </div>
    </div>
  </div>

  </div>
  </section>

  