.container2{
    flex-direction: row;
    margin-top: 5%;
    margin-left: 11%;
}


.search{

    height: 6.5vh;
    width: 16vw;
    margin-top: 3.5%;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;

}

.input {
  background: none;
  border: none;
}

.form-control{
display: inline;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #475069;
}

.frame{
    margin-top:80px;
    height: 56px;
    width: 386px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
  }

   .filter{
    width: 115px;
    height: 40px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background:none;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   color: #8E95A9;
 }
  
 .active{
    background: #7B6EF6;
    color: #EBE9FE;
  }

.galeria >div:empty{
  display: none;
}

.cantidad{
  margin-top: -2.4%;
  margin-left: 5%;
}

.d-block{
    margin-left: 1%;
   
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 40px;
   letter-spacing: -0.02em;
   color: #767E94;
   }

  