

<section class="container">
    
    <div>
        <div class="imagen">
        <img src="assets/login.png" alt="">
    </div>
    <div class="ingresar">
    <h2>Ingresar</h2>
    </div>
        <form autocomplete="off"[formGroup]="miFormulario">

            <div class=" forms form-floating mail mb-3">
                <i class="far fa-envelope icon"></i>
                <input type="text" class ="form-control" formControlName="email" placeholder="Email"> 
                 <label for="floatingInput"> Email </label>
                 <span class="form-text text-danger" *ngIf="campoValido('email')">
                        No es una direccion valida
                 </span>
                
                 <div class="form-floating mail mb-3">
                     <i class="fas fa-key icon"></i>
                <input type="text" class ="form-control" formControlName="pass" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
                <span class="form-text text-danger" *ngIf="campoValido('pass')">
                    La contraseña debe tener al menos 6 caracteres.
                </span>
                </div> 
            </div>
            </form>

                <div >
                    <input (click)="Ingresar()" type="submit" class="button" value="Ingresar">
                </div>
                <div>
                    <input (click)="IngresarConGoogle()" type="image" src="assets/google.png" class="button1" value="">
                </div>
           
            </div>
</section>