.imagen{
position: absolute;
left: 10%;
right: 0%;
top: 20%;
bottom: -3.57%;
}

.forms{
    position: absolute;
    left: 50%;
    top: 40%;
}
.form-control{
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
position: static;
width: 486px;
left: calc(50% - 486px/2);
top: 0%;
bottom: 0%;
background: rgba(0, 0, 0, 0.1);
border: 1px solid #323B54;
box-sizing: border-box;
border-radius: 12px;
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 0px;
}

.button{
display: flex;
justify-content: center;
padding: 16px 32px;
position: absolute;
width: 486px;
left: 50%;
top:63%;
background: #7B6EF6;
border: 2px solid #7B6EF6;
border-radius: 12px;


}

.button{
    color: #FFFFFF;
    
}
.button1{
position: absolute;
top: 76% ;
left: 55%;

 

}
.ingresar{
    position: absolute;
    top: 29%;
    right: 44%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #C3C8D4;
    margin: 40px 0px;

}
 
.formControlName{
    position: absolute;
    top: 29%;
    right: 44%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #C3C8D4;
    margin: 40px 0px;

}