
<section class="container3 ">
      
       <div class="cards ">
      
        <div>
        </div>          <img class= "portada" src="https://image.tmdb.org/t/p/w500{{movies_series?.poster_path}}" alt="">


        <div class="">
          <p class="">{{movies_series?.title}} {{movies_series?.name}}</p>
      </div>

      <div class="button">
        <button class="hola" *ngIf= "isadd; else delete" (click)="addItem()">Agregar a mi lista</button> 
      <ng-template #delete>
        <button  class="hola" (click)="deleteItem()">Eliminar a mi lista</button>
      </ng-template>
    </div>
 
           <div>
          <p class="rating"><span class="icon mr-2"><i class="fa fa-star"></i></span> {{movies_series?.vote_average}}</p>
           </div>

          </div>   
    </section>